{% extends 'base.html' %}
{% load static %}
{% block addcontent %}
{% include 'home/base/header.html' %}
<style>
    .form-label {
        display: inline-block;
        min-width: 150px;
        vertical-align: top;
    }
</style>

<div class="container ">
    <div class=" modal-body row">
        <div class="col-md-9">
            <div class="form-error">{{ form.non_field_errors }}</div>
            <form action="{% url 'addpost' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>

                {% endfor %}

                <button type="submit">Добавить</button>
            </form>
        <div>

 
    </div>
</div>
{% endblock addcontent %}